.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.home-header .kaplumbaga {
  width: 10em;
  margin: 1em;
}

.header-title {
  margin: 1em;
}

.header-title h2 {
  font-size: 4em;
  margin: 0;
}

.header-title p {
  font-size: 1.3em;
  margin: 0;
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  width: 60%;
}

.room-code-input {
  max-width: 250px;
  margin-bottom: 2em;
  padding: 20px;
  border-style: solid;
  border-color: #8ca848;
  border-radius: 10px;
}

.kaplumbaga-button {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  background-color: #8ca848;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.kaplumbaga-button:hover {
  background-color: #738736;
}

.kaplumbaga-button:active:enabled {
  position: relative;
  top: 1px;
}

.kaplumbaga-button:disabled,
.kaplumbaga-button[disabled] {
  background-color: #5C6346;
  cursor: auto;
}

.change-username {
  color: #5C6346;
  cursor: pointer;
  margin-left: 5px;
}
