.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.home-header .kaplumbaga {
  width: 10em;
  margin: 1em;
}

.header-title {
  margin: 1em;
}

.header-title h2 {
  font-size: 4em;
  margin: 0;
}

.header-title p {
  font-size: 1.3em;
  margin: 0;
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  width: 60%;
}

.room-code-input {
  max-width: 250px;
  margin-bottom: 2em;
  padding: 20px;
  border-style: solid;
  border-color: #8ca848;
  border-radius: 10px;
}

.kaplumbaga-button {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  background-color: #8ca848;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.kaplumbaga-button:hover {
  background-color: #738736;
}

.kaplumbaga-button:active {
  position: relative;
  top: 1px;
}

.game-container {
  width:100%;
  max-width: 800px;
}

.kaplumbaga-race {
  background-color: #5D8AA6;
  height:350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
  margin-bottom: 10px;
}

.kaplumbaga-wrapper {
  position: relative;
  transition: 0.5s;
}

.kaplumbaga {
  width: 60px;
  height: auto;
}

.game-text {
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 400;
  padding:10px;
  user-select: none;
}

.game-text span span {
  border-radius: 5px;
  padding: 0 5px;
}

.game-text .current {
  background-color: #D7D7D9;
}

.game-text .correct {
  color: white;
  background-color: #025b0e;
}

.game-text .wrong {
  color: white;
  background-color: #8C311C;
}

.game-input {
  display: flex;
  justify-content: center;
}

.game-input input {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.start-button {
  padding:5px;
  margin:20px;
  font-size: 20px;
}
