@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800;900&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito';
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
